@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Poppins:wght@600&family=Ubuntu:wght@500&display=swap');

.key-container{
    /* border: 1px solid black; */
    min-width: 15rem;
    max-width: fit-content;
    min-height: 15rem;
    max-height: fit-content;
    padding-top: 1rem;
    padding-left: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: repeat(3, 4rem);
    font-family: 'Bungee Outline', sans-serif;
}

@media screen and (min-width: 980px) {
    .key-container{
        grid-template-columns: repeat(3, 5rem);
        grid-template-rows: repeat(3, 5rem);
        min-width: 21rem;
        min-height: 21rem;
        gap: 2rem;
    }
}