*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9c9c9c;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    border: 4px #dfdf0b solid;
    padding: .5rem 1.3rem 1.5rem .5rem;
    background-color: #c0bfbf;
}

@media screen and (min-width: 980px) {
    .container{
        flex-direction: row;
    }
}